# Flutter build files
build/
.dart_tool/
.packages
.pub-cache/

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/

# Dependency and lock files
pubspec.lock

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/app/debug.keystore

# Misc
*.log
